.modal {
  max-width: 792px;
  margin: 50px auto;
  background-color: #f2f0f9;
}

.modal__close {
  display: block;
  position: relative;
  margin-left: auto;
  font-size: 0;
  line-height: 0;
}

.modal__close::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 30px;
  background-image: url("../img/btn-close.svg");
  background-size: contain;
  color: #6e6893;
}

.form-product {
  display: flow-root;
  max-width: 580px;
  margin: 0 auto;
  margin-bottom: 99px;
}

.form-product__title {
  margin-bottom: 43px;
  padding-top: 32px;
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #6e6893;
  text-transform: uppercase;
}

.form-product__box {
  margin-bottom: 32px;
  padding: 28px 28px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
}

.form-product__label {
  display: block;
  margin-bottom: 5px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #6e6893;
  text-transform: uppercase;
}

.form-product__input {
  display: inline-block;
  width: 100%;
  resize: none;
  margin-bottom: 12px;
  padding: 0;
  line-height: 40px;
  border: none;
  border-radius: 6px;
  background-color: #f2f4ff;
}

.form-product__input:last-child {
  margin-bottom: 0;
}

.form-product__btn {
  margin: 0 28px 28px;
  float: right;
  width: 200px;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  background-color: #6D5BD0;
  border-radius: 6px;
  border: 0;
  left: auto;
}

.group-container {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.form-product__checkbox {
  position: relative;
  width: 44px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-product__checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #f2f4ff;
  border-radius: 6px;
}

.form-product__checkbox:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.checkbox:checked:after {
  opacity: 1
}





