.overlay {
  position: fixed;
  inset: 0;
  padding-top: 30px;
}

.modal {
  position: relative;
  max-width: 792px;
  margin: 0 auto;
  padding: 32px 106px 28px;
  background-color: #f2f0f9;
}

.modal__close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 30px;
  background-image: url("../img/btn-close.svg");
  background-color: transparent;
  background-size: contain;
  color: #6e6893;
  border: none;
}

.form-product__title {
  margin-bottom: 43px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #6e6893;
  text-transform: uppercase;
}

.form-product__box {
  margin-bottom: 32px;
  padding: 28px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
}

.form-product__label {
  display: block;
  margin-bottom: 5px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #6e6893;
  text-transform: uppercase;
}

.form-product__input {
  display: inline-block;
  margin-bottom: 12px;
  padding: 11px;
  width: 100%;
  resize: none;
  font-size: 16px;
  line-height: 1.125;
  border: none;
  border-radius: 6px;
  background-color: #f2f4ff;
}

.form-product__input:last-child {
  margin-bottom: 0;
}

.form-product__btn {
  display: block;
  margin: 0 28px 0 auto;
  padding: 10px 25px;
  font-size: 16px;
  line-height: 1.21;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #6D5BD0;
  border-radius: 6px;
  border: 0;
}

.group-container {
  position: relative;
  margin-bottom: 12px;
  padding-left: 50px;
}

.form-product__checkbox {
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-product__checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #f2f4ff;
  border-radius: 6px;
}

.form-product__checkbox:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.form-product__checkbox:checked:after {
  opacity: 1
}





